*{
  padding: 0;
  margin:auto;
}

#root {
  text-align: center;
 overflow-x: hidden;
} 

#bodyDiv{
  background-image: url("./assets/weird_eats_bg.jpg");
  background-repeat: no-repeat;
  width:100%;
  height: 100vh;
  background-size: 100% 100%;
}

#categoriesBg{
  background-color: rgb(230, 232, 231);
  background: linear-gradient(to right, rgb(254, 255, 255),rgb(244, 186, 119));
  width:100%;
  height: 100vh;
  background-size: 100% 100%;
}

.category {
  position: relative;
  overflow: hidden;
  border:8px solid rgb(250, 133, 30)  ;
  border-radius:50%;
}
.category>img{
  filter: brightness(0.6);
}
/* .category:hover>img{
  filter: brightness(0.9);
} */

.category-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  font-size: 20px;
  text-align: center;

}

/* .category-text:hover{
  opacity: 0;
} */

#combinations{
 background-image: url(./assets/black_bg.jpg);
 width: 100%;
 height: 100%;
 background-size: 100%;
}
