*{
  padding: 0;
  margin:auto;
}

#root {
  text-align: center;
} 

/* body{
  background-image: url("https://i.pinimg.com/564x/e9/00/43/e90043c497609dea79523d228ac71aa6.jpg");
  background-repeat: no-repeat;
  width:100vw;
  height: 100vh;
  background-size: 100%;
} */

/* navbar  */
/* .flex{
  display: flex;
  align-items: center;
}

.between{
  justify-content: space-between;
}

.search>input{
  width: 500px;
  padding: 10px;

}

.options>a{
  padding: 0 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.options>a:hover{
  color: #FC7500;
}

#logoImg{
  width: 150px;
  height: 130px;
} */

/* body, */