*{
  padding: 0;
  margin:auto;
}

#root {
  text-align: center;
} 

#bodyDiv{
  background-image: url("./assets/weird_eats_bg.jpg");
  background-repeat: no-repeat;
  width:100%;
  height: 100vh;
  background-size: 100% 100%;
}

#categoriesBg{
  background-image: url("./assets/black_bg.jpg");
  background-repeat: no-repeat;
  width:100%;
  height: 100vh;
  background-size: 100% 100%;
}

